<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizResourceHolder" class="ru.otus.questions.services.QuizResourceHolderImpl">
        <constructor-arg name="quizFileResource" value="questions.csv"/>
    </bean>

    <bean id="quizReader" class="ru.otus.questions.services.QuizReaderImplCSV">
        <constructor-arg name="quizResourceHolder" ref="quizResourceHolder"/>
    </bean>

</beans>