<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Library app</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <table class="table table-hover">
        <caption>Books</caption>
        <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><span th:text="${book?.bookName}"> Name </span></td>
            <td><span th:text="${book?.genre?.caption}"> Genre </span></td>
            <td>
                <a th:href="@{/books/{bookId}(bookId=${book.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-sm btn-outline-secondary">Return home</a>
    <a href="/books/new" class="btn btn-sm btn-success">Create new book</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>