<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit Book</title>
</head>

<body>
<h2> Edit book </h2>
<form th:action="@{/books}" th:object="${bookDto}" method="post">
    <input type="hidden" th:field="*{id}" >
    <div>
        <label>Book name:</label>
        <input type="text" th:field="*{bookName}"/>
    </div>
    <div>
        <label>Genre:</label>
        <select th:field="*{genre}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.caption}">Genre
            </option>
        </select>
    </div>
    <p><input type="submit" value="Save"/><input type="reset" value="Cancel"/></p>
</form>
<h4>Comments:</h4>
<div th:insert="Fragments :: comments"></div>

<h4> Authors: </h4>
<div th:insert="Fragments :: authors"></div>


</body>
</html>