<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Genres list</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <table class="table table-hover">
        <caption>Genres</caption>
        <thead>
        <tr>
            <th scope="col" class="w-75">Genre Caption</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <form th:object="${genre}" th:action="@{/genres}" th:method="put">
                <input type="hidden" th:value="${genre.id}" name="id">
                <td>
                    <input type="text" class="form-control" th:value="${genre.caption}" name="caption" required>
                </td>
                <td>
                    <button type="submit" class="btn btn-outline-success">Save</button>
                </td>
            </form>
            <form th:action="@{/genres/{genreId}/delete(genreId=${genre.id})}" th:method="delete">
                <td>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
    <div class="m-sm-1">
        <form th:object="${Genre}" th:action="@{/genres}" th:method="post">
            <div class="input-group">
                <input type="text" class="form-control" th:value="${newGenreCaption}" name="caption" required>
                <span class="input-group-btn">
                        <input type="submit" value="Add genre" class="btn btn-success">
                </span>
            </div>
        </form>
    </div>
    <a href="/" class="btn btn-sm btn-outline-secondary">Return home</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>